@font-face {
    font-family: 'Century';
    src: url('assets/fonts/Century/Century-Normal.woff2') format('woff2'),
        url('assets/fonts/Century/Century-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    --darkBG: black;
    --lightText: white;
    --light-grey: rgb(196, 196, 196);
    font-size: 20px;
    font-family: 'Century';

}

h1, h2, h3{
    font-family: 'Century';

}

body{
    width:100%;
    background-color: rgb(224, 227, 198);
    /* height:100vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 3em;
    padding: 2em;
}

header{
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
}


.calibration-stage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5em;
    padding:2em;
    background-color: rgb(255, 255, 255);

    border-radius: 1em;
    box-shadow: 0px 0px 10px 6px rgba(40, 39, 39, 0.205);
}

.calibration-stage *{
    /* border: 0px dotted blue; */
}

.calibration-stage.hidden{
    display: none;
}

.serial-settings{
    display: none;
}

button{
    padding:0.5em;
    cursor: pointer;
    display: block;
}

.motor-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    width: 100%;
}

.motor-buttons-list, .braille-representation{
    width: fit-content;
    list-style:none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em
}

.motor-buttons-list li{
    display: flex;
}

.motor-buttons-list li:nth-child(1){
    display: flex;
    flex-direction: row-reverse;
}

.motor-diagram{
    display: flex;
    gap: 2em;
}


.l,.r{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.motor-diagram > *{
    border: 0px solid red;
}

.bracelet-diagram{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bracelet-diagram img{
    display: block;
    width: 3em;
}

.motor-button, .braille-dot{
    border: none;
    /* aspect-ratio: 1/1; */
    background: rgb(209, 209, 209);
    width: 3.5em;
    height: 3.5em;
    text-align: center;

    padding:1em;
    border-radius: 50%;

    transition: 0.25s;


    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.432);


}

.motor-button:hover{
    scale:1.1;
    cursor: pointer;
    background: var(--darkBG);
    color: var(--lightText);
}

.motor-button.active{
    background: var(--darkBG);
    color: var(--lightText);
    box-shadow: 0px 2px 4px 1px rgba(30, 30, 30, 0.729);

}

.current-symbol{
    width: 100%;
    font-size: 4em;
    text-align: center;
}

.modes-container{
    /* display: flex;
    gap: 1em; */
    display: none;
}

.quiz-stage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    outline: 3px solid black;
    padding:2em;
    gap:2em;
}

.quiz-stage.hidden{
    display: none;
}

.quiz-stage button{
    width: fit-content;
    min-width: 5em;
}

.quiz-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1em;
}

.quiz-control-buttons{
    display: flex;
    gap: 1em;
}

.quiz-select-symbols-container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
    gap:0.25em;
}

.guess-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:5em;
}

.guess{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.include{
    background: rgba(135, 206, 250, 0.524);
}

.correct{
    background:green;
}

.incorrect{
    background:red;
}

.braille-representation{
    width: fit-content;
    list-style:none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em
}

.braille-dot{
    border: none;
    aspect-ratio: 1/1;
    background: rgb(182, 182, 182);
    width: 1em;
    text-align: center;

    padding:1em;
    border-radius: 50%;
}

.braille-dot.active{
    background: var(--darkBG);
}

/* EVALUATION */

#evaluation-stage{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:3em;
}

#evaluation-stage.hidden{
    display: none;
}

.eval-question-no-container{
    display: flex;
    gap: 0.5em;
}



.eval-question-no-container input{
    width: 3em;
}

.instructions{
    display: flex;
    flex-direction: column;
    gap:0.5em;
}

#current-eval-question-label{
    text-decoration: underline;
}

#current-points{
    font-size: 3em;
}

.marks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#evaluation-setup{

    font-family: Exam;
    display: flex;
    flex-direction: column;
    gap:1em;

    background-color: white;
    padding: 1.5em;
    box-shadow: 0px 1px 3px 1px rgba(137, 137, 137, 0.879);
}

#evaluation-setup.hidden{
    display: none;
}

#enter-hall-button{
    display: flex;
    align-items: center;
    gap:0.65em;
}

#enter-hall-button img{
    display: block;
    height: 100%;
    height: 10px;
}

.form-factor-buttons{
    /* display: flex;
    gap:1em;
    align-items: center; */
    display: none;
}

.progress-container{
    width: 500px;
    height:10px;
    outline: 2px solid black;
    padding:0;

    border-radius: 10px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.progress-bar{
    --evaluation-progress: 0;
    width: calc(var(--evaluation-progress) * 100%);
    height:inherit;
    background-color: rgb(20, 20, 20);
    border-radius: 10px 0px 0px 10px;

    transition: 0.2s;
}

.participant-id{
    display: flex;
    flex-direction: column;
    gap:0.25em;
}

.participant-id input{
    padding:0.35em
}

#eval-test-container{
    display: flex;
    flex-direction: column;
    gap:3em;

    align-items: center;
}

#eval-test-container.hidden{
    display:none;
}

#eval-guess-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    gap:5em;

    align-items: center;
    justify-content: center;
}

.eval-controls{
    display: flex;
    gap:1em;
}

.eval-controls button.unpressable{
    cursor:not-allowed;
    color: grey;
    border: 2px dotted grey;
    opacity: 0.8;
}

.eval-rep{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
}

.eval-guess-button.correct{
    background-color: rgb(122, 252, 122);
}

.eval-guess-button.incorrect{
    background-color: rgb(214, 89, 89);
}

.eval-rep button{
    width: 5em;
}
.eval-rep-list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.eval-rep.hidden{
    display: none;
}

.eval-dot{
    width: 2em;
    height: 2em;
    background: var(--light-grey);
    border-radius: 50%;

    transition: 0.1s ease-in;
}

.eval-dot.active{
    width: 2em;
    height: 2em;
    background:var(--darkBG);
    border-radius:50%;
}

#download-participant-data{
    display: block;
}

#download-participant-data.hidden{
    display: none;
}


/* FREEPLAY */

.freeplay-stage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;

    text-align: center;
}

.freeplay-stage.hidden{
    display: none;
}

.custom-alphabet-builder{
    display: flex;
    flex-direction: column;
    gap:1em;
}

.naming-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.25em;
}

.naming-container label{
    display: block;
}

.naming-container input{
    padding: 0.5em;
    text-align: center;
}

.custom-alphabet-builder-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-alphabet-builder-buttons button{
    display: block;
}

.custom-braille-representation{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 1em;
    width: fit-content;
}

.custom-braille-dot{
    width:2em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background: var(--light-grey);
    padding:0.5em;
    scale: 1;
    transition: 0.25s;


    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.432);
}


.custom-braille-dot:hover{
    cursor: pointer;
    scale: 1.1;



}

.custom-braille-dot.active{
    background: var(--darkBG);
    color: var(--lightText);

    box-shadow:  0px 0px 4px 1px rgba(0, 0, 0, 0.639);

}


.custom-alphabet-list{
    border: 0px solid green;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:2em
}


.custom-representation-container{
    display: flex;
    flex-direction: column;
    gap:1em;
    padding:2em;
    align-items: center;
}

.custom-representation-list{
    border: 0px solid blue;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:0.5em;
}

.custom-alphabet-braille-dot{
    width:2em;
    height: 2em;
    background: rgb(201, 201, 201);
    border-radius: 50%;
}

.custom-alphabet-braille-dot.active{
    background: black;
}

#file{
    box-sizing: content-box;
}

.upload-custom-alphabet{
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em;
    border: 1px dotted black;
    padding:1em;
    overflow: hidden;
}


.demo-hide{
    display: none;
}